{% extends "layout.html" %}
<!-- The extends tag specifies that this template inherits from "layout.html". This allows for a consistent layout across multiple pages. -->

{% block title %}
    How To
{% endblock %}

{% block main %}
    <!-- Main content for the "How To" page -->
    <h1>How to Avoid the Top 3 Technical Writing Mistakes</h1>

    <!-- Tip 1: Use active voice -->
    <br>
    <h4>Write in the <a href="https://youtu.be/TZd7rDVNi58">active voice.</a></h4>
    <br>

    <!-- Tip 2: Use present tense -->
    <br>
    <h4>Write in the <a href="https://youtu.be/WlStOWpZlyY">present tense.</a></h4>
    <br>

    <!-- Tip 3: Use plain English -->
    <br>
    <h4><a href="https://youtu.be/OXcLwlZOE1s">Plain English</a> is the art of expressing intended meaning in short, easily understood sentences.</h4>
    <br>

    <!-- Tip 4: KISS principle -->
    <h4><a href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a> verbosity goodbye by keeping it simple, stupid.</h4>
    <br>

    <!-- Image related to writing in present tense -->
    <div class="b">
        <img width="566px" alt="How to write in present tense" class="right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuKm0USfktzBm8TTHjKaJNknXNDoRdjEhY-g&usqp=CAU">
    </div>
{% endblock %}
