{% extends "layout.html" %}
<!-- The extends tag specifies that this template inherits from "layout.html". This allows for a consistent layout across multiple pages. -->

{% block title %}
Webpage
{% endblock %}

{% block main %}
<!-- Main content for the webpage -->

<header>
    <!-- Header content (currently empty) -->
    <div class="cleaner"></div>
</header>

<!-- Main body content -->
<h1>Top 3 Mistakes in Technical Writing</h1>
<div class="keyboardimg1"></div>
<br><br>
<img style="width: 500px;" alt="Keyboard" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPHGs_4GG_fA7y6YHKj1Mm6WLHi65920qo8g&usqp=CAU">
<br><br>
<!-- List of common mistakes -->
<h2>Writing lengthy sentences</h2>
<h2>Using passive voice</h2>
<h2>Using future tense</h2>

<!-- Footer content -->
<footer>
    <br><br><br><br><br><br>Copyright &#169; Zachary Vertner
</footer>

{% endblock %}