{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- Login form -->
    <form action="/login" method="post" style="margin: auto; text-align: center;">
        <!-- Username input field -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input autocomplete="username" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <!-- Password input field -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input autocomplete="current-password" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <!-- Log In button -->
        <button style="margin: auto;" id="login" class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}